.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem 0.5rem;
  justify-content: space-between;
  margin-top: 3.375rem;
  padding: 0 1.5rem;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__number,
  &__text {
    color: var(--white);
    display: block;
    text-align: center;
  }

  &__number {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
  }
}
