.main {
  height: calc(100vh - 13rem);
  display: flex;
  flex-direction: column;
  padding: 0.875rem 1.5rem 0 1.5rem;

  .task-title {
    color: var(--gray2);
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }

  .tasks-done {
    display: flex;
    justify-content: left;
  }
}
